<div class="<%= brand %>-warning-text">
  <span class="<%= brand %>-warning-text__icon" aria-hidden="true">!</span>
  <strong class="<%= brand %>-warning-text__text">
    <span class="<%= brand %>-visually-hidden">Warning</span><%= label %> <%= body %>
  </strong>
</div>
