<div class="<%= brand %>-warning-callout">
  <h3 class="<%= brand %>-warning-callout__label">
    <span role="text">
      <span class="<%= brand %>-u-visually-hidden">Important: </span><%= label %>
    </span>
  </h3>
  <p><%= body %></p>
</div>
