<ul class="<%= brand %>-list">
  <li class="<%= brand %>-list__item"><%= ds_link_to('Styles', root_path) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Components', components_path) %></li>
</ul>
