<%= ds_notice do %>
  Design System Gem (0.12.0) has been published.
  <%= ds_link_to 'View on RubyGems', 'https://rubygems.org/gems/design_system' %>
<% end %>

<%=
ds_fixed_elements do |ds|
  ds.main_heading 'Get started'

  # ds.form @assistant
end
%>

<% content_for :sidebar do %>
  <%= render partial: 'sidebar' %>
<% end %>

<%= ds_heading 'Stimulus controllers' %>
<div data-controller="ds--hello-world">
  <label for="hello-world-name">Name</label>
  <input type="text" id="hello-world-name">
  <button>Greet</button>
</div>

</br>

<div>
  <p>This page got rendered <%= ds_timeago(Time.now, refresh_interval: 30000) %></p>
</div>
