<%=
ds_fixed_elements do |ds|
  ds.main_heading 'Page#index heading', caption: 'Test page'

  ds.lead_paragraph 'This is a lead paragraph'

  # ds.form @assistant
end
%>

<%= ds_heading 'Paragraph Headings', id: "test-heading" %>
<%= ds_heading 'h1', level: 1 %>
<%= ds_heading 'h2' %>
<%= ds_heading 'h3', level: 3 %>
<%= ds_heading 'h4', level: 4 %>
<%= ds_heading 'h5', level: 5 %>

<%= ds_heading 'Assitants table', level: 3, id: 'assistants-table' %>
<%=
ds_table do |table|
  table.caption = 'Assistants'
  table.add_column('Title')
  @assistants.each do |assistant|
    table.add_row assistant.title
  end
end
%>

<%= ds_heading 'Stimulus controllers' %>
<div data-controller="ds--hello-world">
  <label for="hello-world-name">Name</label>
  <input type="text" id="hello-world-name">
  <button>Greet</button>
</div>

</br>

<div>
  <p>This page got rendered <%= ds_timeago(Time.now, refresh_interval: 30000) %></p>
</div>

<%= ds_heading 'Grid System', id: 'grid-system' %>
<%=
ds_grid do |row|
  row.add_column(:two_thirds) do %>
    <%= ds_heading 'Two-thirds outer grid', level: 3 %>
    <%=
    ds_grid do |inner_rows|
      inner_rows.add_column(:one_half) do %>
        <%= ds_heading 'Half grid', level: 4 %>
        <p>This grid is nested.</p>
      <% end
      inner_rows.add_column(:one_half) do %>
        <%= ds_heading 'Half grid', level: 4 %>
        <p>This grid is nested.</p>
      <% end
    end
    %>
  <% end

  row.add_column(:one_third) do %>
    <%= ds_heading 'One-third outer grid', level: 3 %>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <% end
end
%>

<br/>
<%= ds_heading 'Paragraph' %>
<%= ds_paragraph('This is a normal paragraph') %>
<%= ds_paragraph('This is a small paragraph', size: :s) %>
