<%=
ds_fixed_elements do |ds|
  ds.main_heading 'Page#index heading', caption: 'Test page'

  ds.lead_paragraph 'This is a lead paragraph'

  # ds.form @assistant
end
%>

<% content_for :sidebar do %>
  <%= render partial: 'sidebar' %>
<% end %>

<%= ds_heading 'Stimulus controllers' %>
<div data-controller="ds--hello-world">
  <label for="hello-world-name">Name</label>
  <input type="text" id="hello-world-name">
  <button>Greet</button>
</div>

</br>

<div>
  <p>This page got rendered <%= ds_timeago(Time.now, refresh_interval: 30000) %></p>
</div>

<%= ds_heading 'Grid System', id: 'grid-system' %>
<%=
ds_grid do |row|
  row.add_column(:two_thirds) do %>
    <%= ds_heading 'Two-thirds outer grid', level: 3 %>
    <%=
    ds_grid do |inner_rows|
      inner_rows.add_column(:one_half) do %>
        <%= ds_heading 'Half grid', level: 4 %>
        <p>This grid is nested.</p>
      <% end
      inner_rows.add_column(:one_half) do %>
        <%= ds_heading 'Half grid', level: 4 %>
        <p>This grid is nested.</p>
      <% end
    end
    %>
  <% end

  row.add_column(:one_third) do %>
    <%= ds_heading 'One-third outer grid', level: 3 %>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <% end
end
%>
