<ul class="<%= brand %>-list">
  <li class="<%= brand %>-list__item"><%= ds_link_to('Layout', style_path('layout')) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Typography', style_path('typography')) %></li>
</ul>
