<%= form_with(model: assistant) do |form| %>
  <% if false || assistant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(assistant.errors.count, "error") %> prohibited this assistant from being saved:</h2>

      <ul>
        <% assistant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <%= form.ds_text_field :label, width: 20, hint: "Label with hint text. Field with character width." %>

    <%= form.ds_text_area :textarea, hint: "Textarea with hint text.", id: "test" %>

    <%= form.ds_collection_select :select, @assistants, :id, :title, prompt: "Please select" %>

    <%= form.ds_collection_check_boxes :features, @features, :id, :name, legend: "Checkboxes with optional legend", hint: "Checkboxes with hint text." %>

    <%= form.ds_check_boxes_fieldset :is_active, legend: "Is this assistant active?", hint: "Checkboxes with hint text." do %>
      <%= form.ds_check_box :is_active, true, label: "Yes", link_errors: true %>
    <% end %>

  <% end %>
<% end %>
