<%= form_with(model: assistant) do |form| %>
  <% if false || assistant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(assistant.errors.count, "error") %> prohibited this assistant from being saved:</h2>

      <ul>
        <% assistant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%#= form.ds_label(:title, text: 'What is your title?' )%>
  <%= form.ds_text_field :title, width: 20, hint: "Demo for ds_text_field", class: "#{brand}-input--width-30" %>
  <%= form.ds_phone_field :phone, width: 20, hint: "Demo for ds_phone_field" %>
  <%= form.ds_email_field :email, width: 20, hint: "Demo for ds_email_field" %>
  <%= form.ds_url_field :website, hint: "Demo for ds_url_field" %>
  <%= form.ds_file_field :cv %>
  <%= form.ds_password_field :password, hint: "Demo for ds_password_field", class: "#{brand}-input--width-30" %>
  <%= form.ds_number_field :age, width: 3, hint: "Demo for ds_number_field" %>
  <%= form.ds_text_area :description, hint: "Demo for ds_text_area" %>
  <%= form.ds_date_field :date_of_birth, hint: "Demo for ds_date_field", date_of_birth: true %>

  <%= form.ds_collection_select :role_id, Role.all, :id, :title, hint: "Demo for ds_collection_select", prompt: "Please select", include_blank: false %>
  <%= form.ds_select :department_id, options_for_select(@departments.map { |department| [department.title, department.id] }), prompt: "Please select", include_blank: false, hint: "Demo for ds_select" %>

  <%= form.ds_submit %>
  <%= form.ds_submit "Draft", type: :secondary %>
  <%= form.ds_submit "Warning", type: :warning %>
  <%= form.ds_submit "Disabled", type: :secondary, disabled: true %>
<% end %>
