<%= form_with(model: assistant) do |form| %>
  <% if false || assistant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(assistant.errors.count, "error") %> prohibited this assistant from being saved:</h2>

      <ul>
        <% assistant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%#= form.ds_label(:title, text: 'What is your title?' )%>
  <%= form.ds_text_field(:email , {class: "#{brand}-input--width-30"})%>
  <%= form.ds_password_field(:password, {class: "#{brand}-input--width-30"}) %>
<% end %>
