<%=
ds_fixed_elements do |ds|
  ds.main_heading 'Assistants'
end
%>

<p style="color: green"><%= notice %></p>

<div id="assistants">
  <% @assistants.each do |assistant| %>
    <%= render assistant %>
    <p>
      <%= ds_link_to "Show this assistant", assistant %>
    </p>
  <% end %>
</div>

<%= ds_link_to "New assistant", new_assistant_path, type: :button %>
