<ul class="<%= brand %>-list">
  <%= ds_heading('Form elements', level: 4) %>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Buttons', component_path('buttons')) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Character count', component_path('character_count')) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Checkboxes', component_path('checkboxes')) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Date input', component_path('date_input')) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Fieldset', component_path('fieldset')) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('File upload', component_path('file_upload')) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Hint text', component_path('hint_text')) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Password input', component_path('password_input')) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Radio', component_path('radio')) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Select', component_path('select')) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Text input', component_path('text_input')) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Textarea', component_path('textarea')) %></li>

  <br/> 
  <%= ds_heading('Content presentation', level: 4) %>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Details', component_path('details')) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Inset text', component_path('inset_text')) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Notification banner', component_path('notification_banner')) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Summary list', component_path('summary_list')) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Table', component_path('table')) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Tabs', component_path('tabs')) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Warning callout', component_path('warning_callout')) %></li>

  <br/> 
  <%= ds_heading('Navigation', level: 4) %>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Action link', component_path('action_link')) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Back link', component_path('back_link')) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Breadcrumb', component_path('breadcrumb')) %></li>
  <li class="<%= brand %>-list__item"><%= ds_link_to('Pagination', component_path('pagination')) %></li>
</ul>
