<%=
ds_fixed_elements do |ds|
  ds.main_heading 'Notification banners', caption: 'Content presentation'

  ds.breadcrumb('Home', root_path)
  ds.breadcrumb('Components', components_path)

  ds.lead_paragraph 'Use a notification banner to tell the user something they need to know that's not directly related to the page content.'
end
%>

<%= ds_alert("I am an alert")%>
<%= ds_notice("I am a notice")%>
<%= ds_notice("I am a success notice", type: :success)%>

<%# Example with block content %>
<%= ds_alert do %>
  <strong>Alert with block:</strong> This is a more complex alert with <a href="#">a link</a> and formatted content.
<% end %>

<%= ds_notice do %>
  <strong>Notice with block:</strong>
  <br>
  You can include multiple elements and <%= ds_link_to 'demo', assistants_path %> link.
<% end %>
