<!DOCTYPE html>
<html class="h-full">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="/design_system/static/tailwind-4.0.7/index.js"></script>
    <script src="/design_system/static/flowbite-2.5.1/flowbite.min.js"></script>

    <%= stylesheet_link_tag 'hdi', 'data-turbo-track': 'reload' %>
    <style type="text/tailwindcss">
      @theme {
        --color-hdi-violet: #473191;
      }
    </style>

    <%= yield :head %>
  </head>
  <body class="h-full">
    <!--
      This example requires updating your template:

      ```
      <html class="h-full bg-white">
      <body class="h-full">
      ```
    -->
    <div data-controller="sidebar">
      <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
      <div data-sidebar-target="menu" class="relative z-50 lg:hidden hidden transition-opacity ease-linear duration-300 opacity-0 " role="dialog" aria-modal="true">
        <!--
          Off-canvas menu backdrop, show/hide based on off-canvas menu state.

          Entering: "transition-opacity ease-linear duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "transition-opacity ease-linear duration-300"
            From: "opacity-100"
            To: "opacity-0"
        -->
        <div class="fixed inset-0 bg-gray-900/80"></div>

        <div class="fixed inset-0 flex">
          <!--
            Off-canvas menu, show/hide based on off-canvas menu state.

            Entering: "transition ease-in-out duration-300 transform"
              From: "-translate-x-full"
              To: "translate-x-0"
            Leaving: "transition ease-in-out duration-300 transform"
              From: "translate-x-0"
              To: "-translate-x-full"
          -->
          <div class="relative mr-16 flex w-full max-w-xs flex-1">
            <!--
              Close button, show/hide based on off-canvas menu state.

              Entering: "ease-in-out duration-300"
                From: "opacity-0"
                To: "opacity-100"
              Leaving: "ease-in-out duration-300"
                From: "opacity-100"
                To: "opacity-0"
            -->
            <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
              <button data-action="sidebar#hide" type="button" class="-m-2.5 p-2.5">
                <span class="sr-only">Close sidebar</span>
                <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>

            <!-- Sidebar component, swap this element with another sidebar if you like -->
            <div class="flex grow flex-col gap-y-5 overflow-y-auto hdi-sidebar-bg-100 px-6 pb-2">
              <div class="flex h-16 shrink-0 items-center">
                <img class="h-8 w-auto" src="/health-data-insight-logo.png" alt="Health Data Insight">
              </div>
              <nav aria-label="Menu" class="flex flex-1 flex-col">
                <ul role="list" class="flex flex-1 flex-col gap-y-7">
                  <%= render 'hdi/navigation' %>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <!-- Static sidebar for desktop -->
      <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
        <!-- Sidebar component, swap this element with another sidebar if you like -->
        <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r hdi-sidebar-bg-100 px-6">
          <div class="flex h-16 shrink-0 items-center">
            <img class="h-8 w-auto" src="/health-data-insight-logo.png" alt="Health Data Insight">
          </div>
          <nav class="flex flex-1 flex-col">
            <ul role="list" class="flex flex-1 flex-col gap-y-7">

              <%= render 'hdi/navigation' %>

              <li class="-mx-6 mt-auto">
                <%#= render 'signed_in_user_info' %>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="sticky top-0 z-40 flex items-center gap-x-6 hdi-sidebar-bg-100 px-4 py-4 shadow-sm sm:px-6 lg:hidden">
        <button type="button" data-action="sidebar#show" class="-m-2.5 p-2.5 text-gray-200 lg:hidden">
          <span class="sr-only">Open sidebar</span>
          <svg class="h-6 w-6 text-gray-900 dark:text-gray-100" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
        <div class="flex-1 text-sm font-semibold leading-6 text-gray-900 dark:text-gray-100">HDI Portal</div>
        <a href="#">
          <span class="sr-only">Your profile</span>
          <%#= current_user_image_tag %>
        </a>
      </div>


      <main class="lg:pl-72">
        <div class="xl:pr-96">
          <div class="px-4 py-10 sm:px-6 lg:px-8 lg:py-6">

              <%= yield :breadcrumbs %>

            <!-- Main area -->
            <% if false && user_signed_in? %>
              <div>
                <!-- <p>Normalized User Profile:<%#= JSON.pretty_generate(@user[:info])%></p> -->
                <p>Full User Profile: <%= JSON.pretty_generate(session[:userinfo]) %></p>
                <p>Expiry: <%= Time.at(session[:userinfo]['exp']) %></p>
                <%#= JSON.pretty_generate(session[:userinfo].keys) %>
              </div>
            <% end %>

            <%= render 'layouts/alert_and_notice' %>

            <%= yield %>
          </div>
        </div>
      </main>

      <aside class="fixed inset-y-0 right-0 hidden w-96 overflow-y-auto border-l border-gray-200 dark:border-gray-700 px-4 py-6 sm:px-6 lg:px-8 xl:block">
        <!-- Secondary column (hidden on smaller screens) -->
      </aside>
    </div>

  </body>
</html>
